body {
    background: rgb(233, 217, 196);
}

h1{
    color: black;
    text-align: center;
}

p {
    color: black;
    margin-left: 10px;
    font-size: 24px;
    margin-bottom: 5px;
}

.submitBtn {
    position: relative;
    left: 43%;
    margin-top: 50px;
}

.row {
    position: relative;
    right: 25px;
}

.hide {
    display: none;
}